.col-lg-4{
    margin-left: 500px;
    width: 33.33333333%;
}


.signupDiv2{
    background-color: #337ab7; height: 50px;
}

.container-reg{
    margin-top: 30px;
    margin-left: 500px;
    width: 100%;
}

.signupDiv4{
    margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;
}

